.work-section {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;

    background-color: #2F333B;

    p {
        color: #FFFFFF;
    }

    .title {
        margin-left: 1em;
        font-size: 40px;
    }

    .projects-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0 2em;
    }

    .project-element {
        display: flex;
        flex-direction: column;
        
        width: 25vw;
    }

    .project-top-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 1.5em;

        height: 20vh;
    }

    .project-info-container {
        display: flex;
        flex-direction: column;

        p {
            margin: 0.5em 0;
        }
    }

    .project-info-title {
        font-size: 24px;
    }

    .project-info-type {
        font-size: 20px;
    }
    
    .project-info-role {
        font-style: italic;
        font-size: 16px;
    }

    .stack-text {
        margin: 2em 1em;
        font-size: 20px;
        text-align: justify;

        height: 15vh;

        span {
            color: #369FFC;
        }
    }

    .read-more-button {
        align-self: center;
        width: 20vw;
        background-color: #2F333B;
        border: 3px solid #369FFC;
        border-radius: 20px;
        transition: transform .3s;

        p {
            color: #369FFC;
            font-size: 20px;
        }
    }

    .read-more-button:hover {
        background-color: #369FFC;
        cursor: pointer;
        transform: scale(1.1);

        p {
            color: #FFFFFF;
        }
      }

    .separation-line {
        height: 70vh;
        width: 0.3vw;
        background-color: #FFFFFF;
        border-radius: 50px;
    }
}

