.work-section {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;

    p {
        font-family: 'Courier New', Courier, monospace;
        font-weight: 600;
        color: #FFFFFF;
    }

    .title {
        margin-left: 4vw;
        margin-bottom: 0px;
        font-size: 40px;
    }

    .project-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 70%;
        margin-top: 0px;
        align-items: center;

    }

    .arrow {
        font-size: 3rem;
        cursor: pointer;
        user-select: none;
        color: #FFFFFF;
    }

    .project {
        display: flex;
        flex-direction: row;
        height: 75vh;
        width: 80vw;
        // background-color: #000000;
        border-radius: 20px;
    }

    .text-container {
        margin-right: 40px;
        width: 45%;
    }

    .project-title {
        font-size: 48px;
    }

    .project-description {
        font-size: 20px;
        text-align: justify;
    }

    .images-container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .image-eq2 {
        height: 350px;
        width: 175px;
        margin: 10px;
        border-radius: 15px;
    }

    .image-connectus {
        height: 60%;
        width: 90%;
        margin: 20px;
        border-radius: 15px;
    }
    @media screen and (max-width: 1200px){
        .project {
          flex-direction: column;
          height: 100%;
        }
        .text-container {
            width: 90%;
        }
        .project-description {
            align-items: center;
        }
        .images-container {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}

