.skills-section {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;

    background-color: #050446;

    p {
        font-family: 'Courier New', Courier, monospace;
        font-weight: 600;
    }

    .title {
        margin-left: 7.5vw;
        font-size: 40px;
    }
    
    .tab-container {
        display: flex;
        flex-direction: row;
        margin-left: 10vw;
        background-color: #8f8f8f;;
        width: 250px;
        border-radius: 20px;
    }
    
    .tab-on {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35px;
        width: 125px;
        background-color: #ffffff;
        border: none;
        border-radius: 20px;
    
        p {
            color: #000000;
        }
    }
    
    .tab-off {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35px;
        width: 125px;
        background-color: #8f8f8f;
        border: none;
        border-radius: 20px;
        cursor: pointer;
    
        p {
            color: #000000;
        }
    }
    
    .skills-container {
        margin-left: 10vw;
    }
    
    .skill {
        font-size: 20px;
    }
    
    .bar-background {
        width: 90%;
        background-color: #ffffff;
        border-radius: 10px;
    }
    
    .bar {
        height: 20px;
        background-color: #3961c8;
        border-radius: 10px;
    }
    
    .bar-soft {
        background-color: #6449d8;
    }
    
    #p90 {
        width: 90%;
    }
    
    #p80 {
        width: 80%;
    }
    
    #p70 {
        width: 70%;
    }
    
    #p60 {
        width: 60%;
    }
    
    #p50 {
        width: 50%;
    }
}