.landingPage-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  color: #ffffff;
  font-family: 'Roboto', sans-serif;

  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;

    font-size: 20px;

    height: 70px;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
 }

 .header-name {
    font-family:'Courier New', Courier, monospace;
    font-weight: 600;
    margin: 20px;
    font-size: 24px;
  }

.header-navigation {
  margin: 30px;
  display: flex;
  justify-content: space-around;

  div {
    margin: 25px;
    cursor: pointer;

    p {
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      transition: transform .3s;
    }
  }

  div:hover {
    p {
      transform: scale(1.2);
    }
  }

  #contact-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 140px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    background-color: #9d0000;
  }
}

.header-dropdown-container {
  display: none;
  width: 100px;
  height: 100px;
}

.dropdown-line {
  background-color: #ffffff;
  width: 50px;
  height: 5px;
  margin-top: 10px;
  border-radius: 20px;
}

 .homepage {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 700px;
 }

  .intro-container {
    width: 60%;

    .intro {
      font-family:monospace;
      font-weight: 600;
      font-size: 48px;
    }
    span {
      color: #9d0000;
    }  
  }

  .intro-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .intro-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;

    width: 150px;
    height: 50px;
    margin-left: 2vw;
    margin-right: 2vw;
    font-size: 18px;
    border-radius: 10px;

    text-decoration: none;
    border: 2px solid #ffffff;
    transition: transform .3s;

    p {
      font-family: 'Courier New', Courier, monospace;
      font-weight: 600;
      color: #ffffff;
    }
  }

  .intro-button:hover {
    cursor: pointer;
    transform: scale(1.2);
  }

  .hyperlink {
    text-decoration: none;
  }

  @media screen and (max-width: 1100px){
    .header-navigation {
      display: none;
    }
    .header-dropdown-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  @media screen and (max-width: 800px){
    .intro-container {
      width: 80%;
    }
  }
}
